.add {
  margin-bottom: 15px;
  min-width: 136px;
  height: 40px;
  border: 1px solid #1890ff;
  border-radius: 4px;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1890ff;
}

.del {
  min-width: 120px;
  height: 40px;
  margin: 0px 17px 15px 17px;
  border: 1px solid #f5222d;
  border-radius: 4px;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f5222d;
}

.edit {
  margin-top: 30px;
  min-width: 65px;
  height: 31px;
  border: 1px solid #52c41a;
  border-radius: 4px;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #52c41a;
}

.small {
  min-width: 78px;
  height: 31px;
  margin: 30px 12px 0px 12px;
}
