@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #ebeef3;
}

button {
  background: unset;
  border: unset;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul.ant-pagination li.ant-pagination-item-active a {
  color: white;
  background-color: #1677ff;
}

ul.ant-pagination li.ant-pagination-item-active a:hover {
  color: white;
}

div ul.ant-pagination li.ant-pagination-options {
  display: none;
}

h3 {
  margin: 0;
}
