@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #ebeef3;
}

button {
  background: unset;
  border: unset;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul.ant-pagination li.ant-pagination-item-active a {
  color: white;
  background-color: #1677ff;
}

ul.ant-pagination li.ant-pagination-item-active a:hover {
  color: white;
}

div ul.ant-pagination li.ant-pagination-options {
  display: none;
}

h3 {
  margin: 0;
}

/* div.ant-popover.ant-popconfirm.ant-popover-placement-rightTop {
  top: 195px !important;
  left: 1227px !important;
} */

div.ant-popconfirm-inner-content div.ant-popconfirm-buttons button {
  box-shadow: none;
}

div.ant-popconfirm-inner-content div.ant-popconfirm-buttons button.ant-btn-default {
  color: #595959;
}

div.ant-popconfirm-inner-content div.ant-popconfirm-message div.ant-popconfirm-message-title {
  width: 184px;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
